*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1E6091; /* Deep Blue for trust and professionalism */
  --secondary-color: #FFB703; /* Adventure Gold for energy and excitement */
  --accent-color: #E63946; /* Bold Red for action and passion */
  --background-color: #F1FAEE; /* Soft White for clean space */
  --text-color: #1D3557; /* Dark Navy for readability */
  --success-color: #2A9D8F; /* Teal Green for nature and positivity */
  --warning-color: #E76F51; /* Sunset Orange for attention */
}



html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
}

ol,ul{
 list-style: none;
}

body{
  font-size: 1.6rem;
  /*add font family*/
}